<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body class="container">
{% block body %}
    <form action="">
        <div class="row">
            <div class="col-3">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">EUR</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           name="amount" value="{{ amount }}">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">target currency</span>
                    </div>
                    <select class="form-control" id="exampleFormControlSelect1" name="currency">
                        <option value="USD" {% if currency == "USD" %} selected {% endif %}>USD</option>
                        <option value="CHF" {% if currency == "CHF" %} selected {% endif %}>CHF</option>
                    </select>
                </div>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Convert</button>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm mb-3">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"> converted value</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                          value="{{ quote }}" readonly>
                </div>
            </div>

        </div>
    </form>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
